<template name="sidebar">
<!--BEGIN SIDEBAR MAIN-->
<div class="sidebar-main sidebar">
    <div class="sidebar-collapse sidebar-scroll">
        <ul id="sidebar-main" class="nav">
            <li class="sidebar-hide">
                <h4 class="sidebar-title-section">Menu</h4>
            </li>
            <li class="active">
              <a href="">
                <i class="icon-home"></i>
                <span class="menu-title">Home</span>
              </a>
            </li>
            <li class="panel">
                <a data-toggle="collapse" data-parent="#sidebar-main" href="#employees" aria-expanded="true" aria-controls="employees"><i class="icon-users"></i><span class="menu-title">Employees</span><span class="arrow"></span></a>
                <ul class="nav nav-second-level collapse" id="employees">
                    <li class="nav-second-trigger" data-redirect="/dashboard/employes/view">
                        <a href="" data-redirect="/dashboard/employes/view"><span data-redirect="/dashboard/employes/view" class="submenu-title">View</span></a>
                    </li>
                    <li class="nav-second-trigger" data-redirect="/dashboard/employes/create">
                        <a data-redirect="/dashboard/employes/create" href=""><span data-redirect="/dashboard/employes/create" class="submenu-title">Create</span></a>
                    </li>
                </ul>
            </li>
            <li class="panel">
              <a data-toggle="collapse" data-parent="#sidebar-main" href="#skills"><i class="icon-users"></i><span class="menu-title">Skills</span><span class="arrow"></span></a>
              <ul class="nav nav-second-level collapse" id="skills">
                  <li class="nav-second-trigger" data-redirect="/dashboard/skills/view">
                      <a href="" data-redirect="/dashboard/skills/view"><span data-redirect="/dashboard/skills/view" class="submenu-title">View</span></a>
                  </li>
                  <li class="nav-second-trigger" data-redirect="/dashboard/skills/create">
                      <a href="" data-redirect="/dashboard/skills/create"><span data-redirect="/dashboard/skills/create" class="submenu-title">Create</span></a>
                  </li>
              </ul>
          </li>
          <li class="panel">
              <a data-toggle="collapse" data-parent="#sidebar-main" href="#cuadrillas"><i class="icon-users"></i><span class="menu-title">Cuadrillas</span><span class="arrow"></span></a>
              <ul class="nav nav-second-level collapse" id="cuadrillas">
                  <li class="nav-second-trigger" data-redirect="/dashboard/cuadrillas/view">
                      <a href="" data-redirect="/dashboard/cuadrillas/view"><span data-redirect="/dashboard/cuadrillas/view" class="submenu-title">View</span></a>
                  </li>
                  <li class="nav-second-trigger" data-redirect="/dashboard/cuadrillas/create">
                      <a href="" data-redirect="/dashboard/cuadrillas/create"><span data-redirect="/dashboard/cuadrillas/create" class="submenu-title">Create</span></a>
                  </li>
              </ul>
          </li>
          <li class="panel">
              <a data-toggle="collapse" data-parent="#sidebar-main" href="#proyectos"><i class="icon-users"></i><span class="menu-title">Proyectos</span><span class="arrow"></span></a>
              <ul class="nav nav-second-level collapse" style="height: 0px;" id="proyectos">
                  <li class="nav-second-trigger" data-redirect="/dashboard/proyectos/view">
                      <a href="" data-redirect="/dashboard/proyectos/view"><span data-redirect="/dashboard/proyectos/view" class="submenu-title">View</span></a>
                  </li>
                  <li class="nav-second-trigger" data-redirect="/dashboard/proyectos/create">
                      <a href="" data-redirect="/dashboard/proyectos/create"><span data-redirect="/dashboard/proyectos/create" class="submenu-title">Create</span></a>
                  </li>
                  <li class="nav-second-trigger" data-redirect="/dashboard/proyectos/calendario-proyectos">
                      <a href="" data-redirect="/dashboard/proyectos/calendario-proyectos"><span data-redirect="/dashboard/proyectos/calendario-proyectos" class="submenu-title">Calendario Proyectos</span></a>
                  </li>
                  <li class="nav-second-trigger" data-redirect="/dashboard/proyectos/calendario-cuadrillas">
                      <a href="" data-redirect="/dashboard/proyectos/calendario-cuadrillas"><span data-redirect="/dashboard/proyectos/calendario-cuadrillas" class="submenu-title">Calendario Cuadrillas</span></a>
                  </li>
              </ul>
          </li>
        </ul>
    </div>
</div>
<!--END SIDEBAR MAIN -->
</template>
