<template name="sidebar">
<!--BEGIN SIDEBAR MAIN-->
<div class="sidebar-main sidebar">
    <div class="sidebar-collapse sidebar-scroll">
        <ul id="sidebar-main" class="nav">
            <li class="sidebar-hide">
                <h4 class="sidebar-title-section">Menu</h4>
            </li>
            <li class="active">
              <a href="">
                <i class="icon-home"></i>
                <span class="menu-title">Home</span>
              </a>
            </li>
            <li class="">
              <a href="index.html">
                <i class="icon-home"></i>
                <span class="menu-title">Employees</span>
              </a>
            </li>
        </ul>
    </div>
</div>
<!--END SIDEBAR MAIN-->

</template>
