<template name="sidebar">
<!--BEGIN SIDEBAR MAIN-->
<div class="sidebar-main sidebar">
    <div class="sidebar-collapse sidebar-scroll">
        <ul id="sidebar-main" class="nav">
            <li class="sidebar-hide">
                <h4 class="sidebar-title-section">Menu</h4>
            </li>
            <li class="active">
              <a href="">
                <i class="icon-home"></i>
                <span class="menu-title">Home</span>
              </a>
            </li>
            <li class="panel">
                <a data-toggle="collapse" data-parent="#sidebar-main" href="#employees" aria-expanded="true" aria-controls="employees"><i class="icon-users"></i><span class="menu-title">Employees</span><span class="arrow"></span></a>
                <ul class="nav nav-second-level collapse" id="employees">
                    <li>
                        <a href="/employes/view"><span class="submenu-title">View</span></a>
                    </li>
                    <li>
                        <a href="/employes/create"><span class="submenu-title">Create</span></a>
                    </li>
                </ul>
            </li>
            <li class="panel">
              <a data-toggle="collapse" data-parent="#sidebar-main" href="#skills"><i class="icon-users"></i><span class="menu-title">Skills</span><span class="arrow"></span></a>
              <ul class="nav nav-second-level collapse" id="skills">
                  <li>
                      <a href="http://studiomediaagency.com/clients/cs/skills"><span class="submenu-title">View</span></a>
                  </li>
                  <li>
                      <a href="http://studiomediaagency.com/clients/cs/skills/create"><span class="submenu-title">Create</span></a>
                  </li>
              </ul>
          </li>
          <li class="panel">
              <a data-toggle="collapse" data-parent="#sidebar-main" href="#cuadrillas"><i class="icon-users"></i><span class="menu-title">Cuadrillas</span><span class="arrow"></span></a>
              <ul class="nav nav-second-level collapse" id="cuadrillas">
                  <li>
                      <a href="http://studiomediaagency.com/clients/cs/cuadrillas"><span class="submenu-title">View</span></a>
                  </li>
                  <li>
                      <a href="http://studiomediaagency.com/clients/cs/cuadrillas/create"><span class="submenu-title">Create</span></a>
                  </li>
              </ul>
          </li>
          <li class="panel">
              <a data-toggle="collapse" data-parent="#sidebar-main" href="#proyectos"><i class="icon-users"></i><span class="menu-title">Proyectos</span><span class="arrow"></span></a>
              <ul class="nav nav-second-level collapse" style="height: 0px;" id="proyectos">
                  <li>
                      <a href="http://studiomediaagency.com/clients/cs/proyectos"><span class="submenu-title">View</span></a>
                  </li>
                  <li>
                      <a href="http://studiomediaagency.com/clients/cs/proyectos/create"><span class="submenu-title">Create</span></a>
                  </li>
                  <li>
                      <a href="http://studiomediaagency.com/clients/cs/proyectos/show/calendario"><span class="submenu-title">Calendario Proyectos</span></a>
                  </li>
                  <li>
                      <a href="http://studiomediaagency.com/clients/cs/proyectos/show/gantt"><span class="submenu-title">Calendario Cuadrillas</span></a>
                  </li>
              </ul>
          </li>
        </ul>
    </div>
</div>
<!--END SIDEBAR MAIN -->
</template>
