<template name="masterLayout">
  <body class="sidebar-color-grey font-source-sans-pro"><!--Modal Default-->
  <div id="source-modal" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" data-dismiss="modal" class="close">&times;</button>
                  <h4 id="modal-default-label" class="modal-title">View Code</h4></div>
              <div class="modal-body">
                  <pre class="prettyprint linenums"></pre>
              </div>
          </div>
      </div>
  </div>
  <div class="fluid"><!--BEGIN TEMPLATE SETTING-->
      <div class="hidden-xs hidden-sm">
          <div id="template-setting">
              <div class="content-template-setting">
                  <button id="save-setting" class="btn btn-success btn-sm pull-right">Save Change</button>
                  <div class="mbm clearfix"></div>
                  <h5 class="pull-left">Header theme</h5>

                  <div class="pull-right">
                      <div id="setting-header-dark" data-on="info" data-off="default" data-on-label="Dark"
                           data-off-label="Light" class="make-switch switch-small"><input type="checkbox" class="switch"/>
                      </div>
                  </div>
                  <div class="mbm clearfix"></div>
                  <h5>Sidebar Colors</h5>
                  <ul class="sidebar-color list-unstyled list-inline">
                      <li data-style="grey" class="grey-blue active"></li>
                      <li data-style="default" class="grey"></li>
                      <li data-style="blue" class="blue"></li>
                      <li data-style="green" class="green"></li>
                      <li data-style="orange" class="orange"></li>
                      <li data-style="white" class="white"></li>
                  </ul>
                  <div class="mbm clearfix"></div>
                  <h5 class="pull-left">Font</h5>

                  <div class="pull-right"><select id="font-select" class="mts">
                      <option value="source-sans-pro">Source Sans Pro</option>
                      <option value="open-sans">Open Sans</option>
                      <option value="roboto">Roboto</option>
                      <option value="lato">Lato</option>
                      <option value="lora">Lora</option>
                      <option value="helvetica">Helvetica Neue</option>
                  </select></div>
                  <div class="mbm clearfix"></div>
                  <hr/>
                  <h5 class="pull-left">Header Fixed</h5>

                  <div class="pull-right">
                      <div id="setting-header-fixed" data-on="success" data-off="default"
                           class="make-switch switch-small"><input type="checkbox" class="switch"/></div>
                  </div>
                  <div class="mbm clearfix"></div>
                  <h5 class="pull-left">Sidebar Collapsed</h5>

                  <div class="pull-right">
                      <div id="setting-sidebar-collapsed" data-on="success" data-off="default"
                           class="make-switch switch-small"><input type="checkbox" class="switch"/></div>
                  </div>
                  <div class="mbm clearfix"></div>
                  <h5 class="pull-left">Sidebar Show/Hide</h5>

                  <div class="pull-right">
                      <div id="setting-sidebar-hide" data-on="success" data-off="default"
                           class="make-switch switch-small"><input type="checkbox" class="switch"/></div>
                  </div>
                  <div class="mbm clearfix"></div>
                  <h5 class="pull-left">Sidebar Fixed</h5>

                  <div class="pull-right">
                      <div id="setting-sidebar-fixed" data-on="success" data-off="default"
                           class="make-switch switch-small"><input type="checkbox" class="switch"/></div>
                  </div>
                  <div class="mbm clearfix"></div>
                  <h5 class="pull-left">Toggle Button<i data-hover="tooltip" data-placement="top"
                                                        title="Switch it then click toogle button on topbar"
                                                        class="fa fa-info-circle mls"></i></h5>

                  <div class="pull-right">
                      <div id="setting-toggle-status" data-on="success" data-off="default" data-on-label="Hide"
                           data-off-label="Mini" class="make-switch switch-small"><input type="checkbox" class="switch"/>
                      </div>
                  </div>
                  <div class="mbm clearfix"></div>
                  <hr/>
                  <h5 class="pull-left">Logo mode</h5>

                  <div class="pull-right">
                      <div id="setting-logo-status" data-on="success" data-off="default" data-on-label="Aside"
                           data-off-label="Top" class="make-switch switch-small"><input type="checkbox" class="switch"/>
                      </div>
                  </div>
                  <div class="mbm clearfix"></div>
                  <h5 class="pull-left">Layout Boxed</h5>

                  <div class="pull-right">
                      <div id="setting-layout-boxed" data-on="success" data-off="default"
                           class="make-switch switch-small"><input type="checkbox" class="switch"/></div>
                  </div>
                  <div class="mbm clearfix"></div>
                  <h5 class="pull-left">Menu Horizontal</h5>

                  <div class="pull-right">
                      <div id="setting-horizontal-menu" data-on="success" data-off="default"
                           class="make-switch switch-small"><input type="checkbox" class="switch"/></div>
                  </div>
                  <div class="mbm clearfix"></div>
              </div>
          </div>
      </div>
      <!--END TEMPLATE SETTING--><!--BEGIN TOPBAR-->
      <div class="page-header-topbar">
          <nav id="topbar" role="navigation" class="navbar navbar-default container pln prn">
              <div class="container-fluid pln prn">
                  <div id="topbar-menu" class="navbar-collapse pln prn">
                      <ul class="nav navbar-nav logo-wrapper">
                          <li class="btn-menu-toggle">
                              <div id="menu-toggle" class="show-collapsed"><i class="fa fa-bars"></i></div>
                          </li>
                          <li class="pull-left"><a id="logo" href="index.html" class="pan"><img
                                  src="/images/logo2.png"/></a></li>
                      </ul>
                      <ul class="nav navbar-nav navbar-left topbar-nav">
                          <li class="dropdown"><a data-toggle="dropdown" href="#" class="dropdown-toggle"><i
                                  class="icon-calendar"></i><span class="badge badge-primary">1</span></a>
                              <ul class="dropdown-menu dropdown-task dropdown-topbar">
                                  <li><p>You have 1 new tasks</p></li>
                                  <li>
                                      <div class="dropdown-slimscroll">
                                          <ul>
                                              <li class="unread"><a href="#" target="_blank">Lorem ipsum dolor sit
                                                  amet<span class="label label-success pull-right">Html</span><br/><span
                                                          class="text-muted small">4 mins ago</span></a></li>
                                              <li><a href="#" target="_blank">Consectetur adipiscing<span
                                                      class="label label-info pull-right">CSS</span><br/><span
                                                      class="text-muted small">12 mins ago</span></a></li>
                                              <li><a href="#" target="_blank">Tempor incididunt ut<span
                                                      class="label label-warning pull-right">Javascript</span><br/><span
                                                      class="text-muted small">15 mins ago</span></a></li>
                                              <li><a href="#" target="_blank">Ut enim ad minim<span
                                                      class="label label-default pull-right">Fix Bug</span><br/><span
                                                      class="text-muted small">18 mins ago</span></a></li>
                                              <li><a href="#" target="_blank">Sed ut perspiciatis unde omnis<span
                                                      class="label label-success pull-right">Html</span><br/><span
                                                      class="text-muted small">2 days ago</span></a></li>
                                              <li><a href="#" target="_blank">Sed quia non numquam<span
                                                      class="label label-info pull-right">CSS</span><br/><span
                                                      class="text-muted small">2 days ago</span></a></li>
                                              <li><a href="#" target="_blank">Lorem ipsum dolor sit<span
                                                      class="label label-default pull-right">Fix Bug</span><br/><span
                                                      class="text-muted small">5 days ago</span></a></li>
                                          </ul>
                                      </div>
                                  </li>
                                  <li class="last"><a href="extra-user-list.html" class="text-right">See all alerts</a>
                                  </li>
                              </ul>
                          </li>
                          <li class="dropdown"><a data-toggle="dropdown" href="#" class="dropdown-toggle"><i
                                  class="icon-bell"></i><span
                                  data-pulsate="{parent:true,onClick:'stop',border:false,speed:800,reach: 20,delay:5000}"
                                  class="badge badge-success">2</span></a>
                              <ul class="dropdown-menu dropdown-alerts">
                                  <li><p>You have 2 new notifications</p></li>
                                  <li>
                                      <div class="dropdown-slimscroll">
                                          <ul>
                                              <li class="unread"><a href="extra-user-list.html" target="_blank"><span
                                                      class="label label-info"><i class="fa fa-comment"></i></span>New
                                                  Comment<span class="pull-right text-muted small">4 mins ago</span></a>
                                              </li>
                                              <li class="unread"><a href="extra-user-list.html" target="_blank"><span
                                                      class="label label-success"><i class="fa fa-twitter"></i></span>3
                                                  New Followers<span
                                                          class="pull-right text-muted small">12 mins ago</span></a></li>
                                              <li><a href="extra-user-list.html" target="_blank"><span
                                                      class="label label-warning"><i class="fa fa-envelope"></i></span>Message
                                                  Sent<span class="pull-right text-muted small">15 mins ago</span></a>
                                              </li>
                                              <li><a href="extra-user-list.html" target="_blank"><span
                                                      class="label label-success"><i class="fa fa-tasks"></i></span>New
                                                  Task<span class="pull-right text-muted small">18 mins ago</span></a>
                                              </li>
                                              <li><a href="extra-user-list.html" target="_blank"><span
                                                      class="label label-danger"><i class="fa fa-upload"></i></span>Server
                                                  Rebooted<span class="pull-right text-muted small">19 mins ago</span></a>
                                              </li>
                                              <li><a href="extra-user-list.html" target="_blank"><span
                                                      class="label label-success"><i class="fa fa-tasks"></i></span>New
                                                  Task<span class="pull-right text-muted small">2 days ago</span></a></li>
                                              <li><a href="extra-user-list.html" target="_blank"><span
                                                      class="label label-warning"><i class="fa fa-envelope"></i></span>Message
                                                  Sent<span class="pull-right text-muted small">5 days ago</span></a></li>
                                          </ul>
                                      </div>
                                  </li>
                                  <li class="last"><a href="extra-user-list.html" class="text-right">See all alerts</a>
                                  </li>
                              </ul>
                          </li>

                      </ul>
                      <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown"><a data-toggle="dropdown" href="#" class="dropdown-toggle"><i
                                  class="icon-user"></i>&nbsp;<span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-user pull-right">
                                <li>
                                    <div class="navbar-content">
                                        <div class="row">
                                            <div class="col-md-5 col-xs-5"><img
                                                      src="/images/perfil.jpg" alt=""
                                                      class="img-responsive img-circle"/>

                                                <p class="text-center mtm"><a href="#" class="change-avatar">
                                                    <small>Ver Avatar</small>
                                                </a></p>
                                            </div>
                                            <div class="col-md-7 col-xs-5"><span>Alberto Calderon</span>

                                                <p class="text-muted small">alberto@studiomedia.com.mx</p>

                                                <div class="divider"></div>
                                                <a href="#">
                                                    <button href="#" class="btn btn-default btn-sm">Editar Perfil
                                                    </button>
                                                </a></div>
                                        </div>
                                    </div>
                                    <div class="navbar-footer">
                                        <div class="navbar-footer-content">
                                            <div class="row">
                                                <div class="col-md-6 col-xs-6"><a href="#">
                                                    <button class="btn btn-default btn-sm">Cambiar Password</button>
                                                </a></div>
                                                <div class="col-md-6 col-xs-6"><a href="#">
                                                    <button href="page-lock-screen.html"
                                                              class="btn btn-info btn-sm pull-right">Salir                                                  </button>
                                                </a></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                          </li>

                      </ul>
                  </div>
              </div>
          </nav>
      </div>
      <!--END TOPBAR--><!--BEGIN HORIZONTAL MENU-->
      <div class="page-horizontal-menu">
          <div id="horizontal-menu" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="index.html"><i class="icon-home"></i><span
                          class="menu-title">Dashboard</span></a></li>
                  <li><a href="page_profile.html"><i class="icon-user"></i><span
                          class="menu-title">User Profile</span></a></li>
                  <li><a href="page_mail.html"><i class="icon-envelope"></i><span class="menu-title">Mail Box</span></a>
                  </li>
                  <li class="dropdown"><a href="#" data-hover="dropdown" class="dropdown-toggle"><i
                          class="icon-screen-desktop"></i><span class="menu-title">Layouts</span></a>
                      <ul class="dropdown-menu">
                          <li><a href="layout_full_width.html"><span class="submenu-title">Full width</span></a></li>
                          <li><a href="layout_boxed.html"><span class="submenu-title">Boxed</span></a></li>
                          <li class="hidden-sm"><a href="layout_sidebar_collapsed.html"><span class="submenu-title">Sidebar Collapsed</span></a>
                          </li>
                          <li class="hidden-sm"><a href="layout_sidebar_fixed.html"><span class="submenu-title">Sidebar fixed</span></a>
                          </li>
                          <li class="hidden-sm"><a href="layout_sidebar_collapsed_fixed.html"><span class="submenu-title">Sidebar collapsed & fixed</span></a>
                          </li>
                          <li><a href="layout_horizontal_menu.html"><span class="submenu-title">Horizontal Menu</span></a>
                          </li>
                          <li><a href="layout_header_fixed.html"><span class="submenu-title">Header Fixed</span></a></li>
                      </ul>
                  </li>
                  <li class="dropdown"><a href="#" data-hover="dropdown" class="dropdown-toggle"><i
                          class="icon-magic-wand"></i><span class="menu-title">UI Elements</span><span
                          class="badge badge-danger">3</span></a>
                      <ul class="dropdown-menu">
                          <li><a href="ui_general.html"><span class="submenu-title">General</span><span
                                  class="badge badge-success">10</span></a></li>
                          <li><a href="ui_buttons.html"><span class="submenu-title">Buttons</span></a></li>
                          <li><a href="ui_typography.html"><span class="submenu-title">Typography</span></a></li>
                          <li><a href="ui_tabs_accordions.html"><span class="submenu-title">Tabs & Accordions</span></a>
                          </li>
                          <li><a href="ui_modals.html"><span class="submenu-title">Modals</span></a></li>
                          <li><a href="ui_treeview.html"><span class="submenu-title">Tree view</span></a></li>
                          <li><a href="ui_icons.html"><span class="submenu-title">Icons</span></a></li>
                          <li><a href="ui_panels.html"><span class="submenu-title">Panels</span></a></li>
                          <li><a href="ui_nestable_list.html"><span class="submenu-title">Nestable List</span></a></li>
                          <li><a href="ui_toastr.html"><span class="submenu-title">Toastr Notifications</span></a></li>
                          <li><a href="ui_datepaginator.html"><span class="submenu-title">Date Paginator</span></a></li>
                      </ul>
                  </li>
                  <li class="dropdown"><a href="#" data-hover="dropdown" class="dropdown-toggle"><i class="icon-note"></i><span
                          class="menu-title">Forms</span></a>
                      <ul class="dropdown-menu">
                          <li><a href="form_components.html"><span class="submenu-title">Form Component</span><span
                                  class="label label-info">8</span></a></li>
                          <li><a href="form_wizard.html"><span class="submenu-title">Form Wizard</span></a></li>
                          <li><a href="form_validation.html"><span class="submenu-title">Form Validation</span></a></li>
                          <li><a href="form_select.html"><span class="submenu-title">Dropdown & Select</span></a></li>
                          <li><a href="form_picker.html"><span class="submenu-title">Picker</span></a></li>
                          <li><a href="form_editor.html"><span class="submenu-title">Editor</span></a></li>
                          <li><a href="form_dropzone.html"><span class="submenu-title">Dropzone File Upload</span></a>
                          </li>
                          <li><a href="form_multiple_file_upload.html"><span
                                  class="submenu-title">Multiple File Upload</span></a></li>
                      </ul>
                  </li>
                  <li class="dropdown"><a href="#" data-hover="dropdown" class="dropdown-toggle"><i class="icon-grid"></i><span
                          class="menu-title">Tables</span></a>
                      <ul class="dropdown-menu">
                          <li><a href="table_basic.html"><span class="submenu-title">Basic table</span></a></li>
                          <li><a href="table_responsive.html"><span class="submenu-title">Responsive table</span></a></li>
                          <li><a href="table_advanced.html"><span class="submenu-title">Advanced table</span></a></li>
                          <li><a href="table_treegrid.html"><span class="submenu-title">Treegrid table</span></a></li>
                      </ul>
                  </li>
                  <li class="dropdown"><a href="#" data-hover="dropdown" class="dropdown-toggle"><i
                          class="icon-book-open"></i><span class="menu-title">Pages</span></a>
                      <ul class="dropdown-menu">
                          <li><a href="page_gallery.html"><span class="submenu-title">Gallery</span></a></li>
                          <li><a href="page_calendar.html"><span class="submenu-title">Calendar</span></a></li>
                          <li><a href="page_invoice.html"><span class="submenu-title">Invoice</span></a></li>
                          <li><a href="page_pricing_table.html"><span class="submenu-title">Pricing Table</span></a></li>
                          <li><a href="page_search.html"><span class="submenu-title">Search</span></a></li>
                          <li><a href="page_signin.html"><span class="submenu-title">Sign in</span></a></li>
                          <li><a href="page_signup.html"><span class="submenu-title">Sign up</span></a></li>
                          <li><a href="page_lock_screen.html"><span class="submenu-title">Lock screen</span></a></li>
                          <li><a href="page_404.html"><span class="submenu-title">Page 404</span></a></li>
                          <li><a href="page_500.html"><span class="submenu-title">Page 500</span></a></li>
                      </ul>
                  </li>
                  <li class="dropdown"><a href="#" data-hover="dropdown" class="dropdown-toggle"><i
                          class="icon-bar-chart"></i><span class="menu-title">Chart</span><span
                          class="badge badge-warning">8</span></a>
                      <ul class="dropdown-menu">
                          <li><a href="charts_chartjs.html"><span class="submenu-title">ChartJs</span></a></li>
                          <li><a href="charts_flot.html"><span class="submenu-title">Flot Charts</span></a></li>
                          <li><a href="charts_sparklines.html"><span class="submenu-title">Sparklines Charts</span></a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </div>
      </div>
      <!--END HORIZONTAL MENU-->

        {{> Template.dynamic template = view}}

        <!--BEGIN FOOTER-->
        <div id="footer">
            <div class="copyright"> Desarrollado por: StudioMedia Agency
                <div class="pull-left">©2015 - Construcion Specialties System Control</div>
            </div>
        </div>
        <!--END FOOTER--></div>
    </body>
</template>
