<template name="masterLayout">
<body class="sidebar-color-grey font-source-sans-pro">
    <!--Modal Default-->
    <div id="source-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" class="close">&times;</button>
                    <h4 id="modal-default-label" class="modal-title">View Code</h4></div>
                <div class="modal-body">
                    <pre class="prettyprint linenums"></pre>
                </div>
            </div>
        </div>
    </div>
    {{> navbar}}
    <div class="fluid">
      <div id="wrapper">
        <!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper">
          {{>sidebar}}
          {{> Template.dynamic template = view}}
        </div>
        <!--END PAGE WRAPPER-->
      </div>
        <!--BEGIN TEMPLATE SETTING-->
        <!--BEGIN FOOTER-->
        <div id="footer">
            <div class="copyright"> Desarrollado por: StudioMedia Agency
                <div class="pull-left">©2015 - Construcion Specialties System Control</div>
            </div>
        </div>
        <!--END FOOTER-->
    </div>
</body>
</template>
