<template name="employesCreate">
<div class="page-content">
    <!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">
                Employees
            </div>

        </div>


    </div>
    <!--END TITLE & BREADCRUMB PAGE-->
    <div class="box-content">
        <!--BEGIN CONTENT-->
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="caption">Create Employees</div>
                    </div>
                    <div class="panel-body">
                      <form accept-charset="UTF-8" class="form-horizontal form-seperated">
                        <div class="form-body">
                          <div class="form-group">
                            <label for="nombre" class="col-md-3 control-label">Nombre: </label>
                            <div class="col-md-6"><input class="form-control" name="nombre" type="text" id="nombre">
                          </div>
                          </div>
                        </div>
                      </form>
                    </div>
                </div>
            </div>
        </div>
        <!--END CONTENT-->
    </div>
</div>

</template>
